{% extends "myauth/signup.html" %}

{% load i18n %}

{#{% block head_title %}{% trans "Seller Signup" %}{% endblock %}#}

{% block form_head %}<h2>{% trans "Seller Sign Up" %}</h2>{% endblock %}

{% block action_url %}{% url 'account_signup_seller' %}{% endblock %}

{% block bottom_link %}
    <div class="row" style="font-size: 85%">
        <div class="col-xs-6 text-center">
            <a id="signinlink" href="{% url 'account_signin' %}">{% trans "Sign In" %}</a>
        </div>
        <div class="col-xs-6 text-center">
            <a id="signuplink_buyer" href="{% url 'account_signup_buyer' %}">{% trans "Sign Up as Buyer" %}</a>
        </div>
    </div>
{% endblock %}
