{% extends "base.html" %}
{% load i18n %}

{% block content %}
    {% trans "Optional. For example: size, color." as order_requirement %}
    {% trans "Optional. For example: review (rating and time to leave review) and seller feedback." as review_requirement %}
    <div class="container">
    <div class="mainbox col-sm-8 col-sm-offset-2">
        {% block before_panel %}{% endblock %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h3>{% block form_title %}{% endblock %}</h3></div>
            </div>
            <div style="padding-left: 25px; padding-right: 25px" class="panel-body" >
                {% block form_body %}{% endblock %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}